{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/flow"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "./scripts/aliasDefaultMessage.js",
    ["react-intl", {"messagesDir": "app/i18n/extracted"}]
  ],
  "ignore": [
    "app/middleware/walletrpc/*.js"
  ]
}
