.import-keys-wrapper {
  overflow: auto;
  padding-bottom: 100px;
}

.import-keys-tutorial-link {
  text-decoration: underline;
  cursor: pointer;
  color: #4143cd;
}

.key-blue-button {
  display: inline-block;
  max-height: 42px;
}

#keys-import-file-upload {
  display: none;
}

.keys-import-upload-section {
  display: flex;
}

.keys-import-error-message {
  color: red;
  display: block;
}

.keys-import-selected-file-section {
  display: inline-block;

  h3 {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
  }
}

.keys-import-decryption-section {
  margin: 10px 0;
}

.keys-import-decryption-password-input {
  width: 300px;
  margin-right: 10px;
  display: inline-block;
}

.keys-import-mnemonic-section {
  width: 100%;
  overflow: auto;
  user-select: none;
}

.keys-import-mnemonic-passphrase-input {
  width: 310px;
  margin: 10px 0;
}

.keys-import-mnemonic-display {
  margin-top: 50px;
}

.privkey-modal-container {
  margin-top: 70px;
}

.privkey-modal-key-container {
  margin-bottom: 30px;
}

.privkey-modal-passphrase-container {
  margin: 20px 0;
}

.keys-import-mnemonic-word {
  display: inline-block;
  background-color: #fa78af;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  color: #fff;
  user-select: none;
}

.keys-import-mnemonic-hex {
  margin: 10px 0;
  padding: 5px 10px;
  overflow-x: auto;
}

.import-keys-submit-section {
  float: right;
  margin-right: 10%;
}

.keys-import-confirm-button {
  float: right;
  font-weight: bold;
  margin-top: 15px;
}
